.modal {
  display: none; /* Hidden by default */
  position: fixed; /*  Stai in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); Fallback color */
  background-color: rgba(15, 13, 13, 0.9); /* Black w/ opacity */
}

.modalSlider {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Modal Context/Box */
.modal-content {
  position: relative;
  margin: 5% auto; /* 10% from the top and centered */
  width: 90%; /* Same as photos width */
  animation-name: animatetop;
  animation-duration: 0.9s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The close Button */
.close {
  color: rgb(90, 88, 88);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 55px;
  padding-top: 55px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*---------- Next & previous buttons ------------*/
.prev,
.next {
  position: absolute;
  margin-top: -50px;
  top: 50%;
  width: auto;

  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;

  font-weight: bold;
  font-size: 20px;
  padding: 32px 9px;
  text-decoration: none;
  border: transparent;
  border-radius: 7px;

  transition: 0.3s ease;

  user-select: none;
  -webkit-user-select: none;
}

.prev:hover,
.next:hover {
  position: absolute;
  top: 50%;
  /* background-color: transparent; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 30px;
  padding: 30px 20px;
  text-decoration: none;
  border: transparent;
  background-color: rgba(0, 0, 0, 0.349);
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

button {
  outline: none; /* background-color: transparent; */
}

@media (min-width: 1300px) {
  .modalSlider,
  .modal-content {
    width: 1100px;
  }
}
