/*----------COMMON SETTINGS------------*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

* {
  color: #ffffff;
  font-family: releway, Helvetica, sans-serif;
  font-weight: lighter;
}

/*----------HEADER------------*/

#navbar {
  width: 80%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}

#navbar h2 {
  padding-top: 10px;
}

nav {
  text-align: end;
}

header nav li {
  display: inline-block;
  padding: 10px;
}

/* ---------- a LINKS BTN HOVER & ACTIVE ----- */

a {
  color: white;
  text-decoration: none;
}

.btn:hover a {
  color: white;
  position: relative;
}

.btn:active a {
  color: white;
  position: relative;
}
