/*----------COMMON SETTINGS------------*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
}

@font-face {
  font-family: Releway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

* {
  color: #ffffff;
  font-family: releway, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  width: 80%;
  margin: 0 auto;
  /* margin-top: 10px; */
}

/*----------HEADER------------*/

#navbar {
  top: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  background-color: #000000;
}

#navbar h2 {
  padding-top: 10px;
}

nav {
  /* padding-top: 0px; */
  /* margin: 0 auto; */
  text-align: end;
}

header nav li {
  display: inline-block;
  padding: 10px;
}

/* ---------- a LINKS BTN HOVER & ACTIVE ---------- */

a {
  color: white;
  text-decoration: none;
}

.btn:hover a {
  color: white;
  position: relative;
}

.btn:active a {
  color: white;
  position: relative;
}

/* ---------- MAIN ---------- */

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}

/* ---------- IMG ---------- */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
}

/* ---------- SLIDESHOW ---------- */

#slideShow {
  padding-top: 155px;
  padding-bottom: 50px;
}

/* ---------- GALLERIES ---------- */
.galleries h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  padding-top: 150px;
  padding-bottom: 20px;
}
